# Ignore user's workspace
workspace/

# Build directory
build/
/cmake-build-debug/

# clangd cache and code completion files
.cache
compile_commands.json

# Blender temporary files
*.blend1

# Clion project files
/.idea/
/CMakeSettings.json

#Visual Studio project files.
/.vs/

